html{
	height:100%;
	width:100%;
	font-size:100%;
	box-sizing:border-box;
	
}

body{
	margin:0;
	padding:0;
	background-color:hsl(240, 78%, 98%);
	font-family:'montserrat', sans-serif;
	font-size:0.9375rem;
	
}

.container{
	
	background-image:url('images/bg-top.svg'), url('images/bg-bottom.svg');
	background-position: 13em -2em, -25em bottom;
	background-repeat:no-repeat;
	
	height:100%;
	width:100%;
	text-align:center;
	
}
.main-container{
	
	width:90%;
	margin:0 auto;
	padding-top:4em;
	padding-bottom:4em;
	
	
	
}
/*header*/

header > h1{
	
	color:hsl(233, 13%, 49%);
	margin-top:0;
	margin-bottom:1em;
	
}


/*price toggle*/
.toggle-price{
	
	margin-bottom:3em;
	
}
.toggle-price > p{
	
	color:hsl(234, 14%, 74%);
	display:inline-block;
	
}


#toggle{
	
	display:none;
	
}

.switch{
	display:inline-block;
	position:relative;
	background-image:linear-gradient( to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	background-size:cover;
	border-radius:1em;
	width:2.8rem;
	height:1.5rem;
	top:5px;
	margin-left:1em;
	margin-right:1em;
	cursor:pointer;
	transition:all 300ms ease-in-out;
}

.switch:hover{
	opacity:.9;
	
	
}
.switch-btn:before{
	content:'';
	position:absolute;
	right:5%;
	top:10%;
	background:hsl(240, 78%, 98%);
	width:20px;
	height:80%;
	display:inline-block;
	border-radius:50%;
	transition:all 300ms ease-in-out;
}

input:checked + label > span.switch-btn:before{
	
	
	right:50%;
	
}


/*cards*/
.card{
	color:hsl(233, 13%, 49%);
	background-color:white;
	border-radius:10px;
	padding:2rem;
	margin:auto;
	
	min-width:250px;
	max-width:350px;

}
.card-title{
	
	margin-top:0;
	margin-bottom:2rem;
	
}
.card p{
	margin:0;
	padding:1em;
	border-top:1px solid hsl(234, 14%, 74%);
	
	
	
}
.card p.last{
	margin-bottom:2rem;
	border-bottom:1px solid hsl(234, 14%, 74%);
	
	
}
.card-btn{
	color:hsl(240, 78%, 98%);
	background-image:linear-gradient( to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	font-size: .8rem;
	font-weight: 700;
	width: 100%;
	padding:.8rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	border:none;
	border-radius:8px;
	transition:all 300ms ease-in-out;	
	cursor:pointer;
}
.card-btn:hover{
	background:transparent;
	color:hsl(236, 72%, 79%);
	border:1px solid hsl(236, 72%, 79%);
	margin:-.8px;
	
}


.card:nth-child(2){
	background-image:linear-gradient( to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	color:hsl(240, 78%, 98%);
	
}
.card:nth-child(2) > .card-price{
	color:hsl(240, 78%, 98%);
	
}
.card:nth-child(2) > .card-btn{
	background-image:none;
	color:hsl(237, 63%, 64%);
	background-color:hsl(240, 78%, 98%);
	
}
.card:nth-child(2) > .card-btn:hover{
	background-image:linear-gradient( to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	color:hsl(240, 78%, 98%);
	border:1px solid hsl(240, 78%, 98%);
	margin:-.8px;
	
	
}
.card:not(:last-child){
	
	margin-bottom:1.5rem;
	
	
}

.card-price{
	color:hsl(232, 13%, 33%);
	font-size:2rem;
	margin-bottom:2rem;
	display:inline-block;
	vertical-align:middle;
	
	
}

.price1, .price3{
	color:hsl(232, 13%, 33%);
	font-size:3.5rem;
	font-weight:700;
	padding-left:.5rem;
	vertical-align:middle;
	
}

.price2{
	color:hsl(240, 78%, 98%);
	font-size:3.5rem;
	font-weight:700;
	padding-left:.5rem;
	vertical-align:middle;
	
	
}


/*640px, 1024px, 1400px*/

@media(min-width:640px){
	
	.container{
		background-position:top right, bottom left;
	}
	
	.main-content{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		
	}
	.card{
		min-width:300px;
		
	}
	
	
}



@media(min-width:1024px){
	
	
	.main-content{
		display:flex;
		flex-direction:row;
		justify-content:center;
		
		
	}
	.card{
		margin:0;
	}
	.card:nth-child(2){
		transform: scale(1.08);
	}
	.card:not(:last-child){
		margin-bottom:0;
		
	}
	
}



